/* FONTS */
@font-face {
  font-family: Computer;
  src: url("./assets/Fonts/Computerfont.woff");
}
@font-face {
  font-family: Cafe;
  src: url("./assets/Fonts/Louis-George-Cafe.woff");
}

/***** MAIN PAGE *****/

/* BODY */

body {
  height: 100%;
  margin: 0;
  font-family: Cafe, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  line-height: 100px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 8px;
  background: #000;
  color: chartreuse;
  font-family: Computer;
  border-bottom: 3px solid chartreuse;
  margin-bottom: 3%;
}

/* MAIN */

main {
  display: flex;
  margin: 1% 2.5%;
  height: 700px;
}

.story-section,
.characters-section {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

p,
li {
  font-size: 20px;
}

.character {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.character-button {
  margin: 20px 0 30px 50px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: chartreuse;
  font-family: Computer;
  font-size: 24px;
  padding: 5px 20px;
  letter-spacing: 3px;
}

.character-button:hover {
  box-shadow: 0 0 1rem chartreuse;
  cursor: pointer;
}

/* FOOTER */

footer {
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  letter-spacing: 5px;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-family: Computer;
  color: chartreuse;
  background-color: #000;
  border-top: 3px solid chartreuse;
}

a {
  text-decoration: none;
  color: chartreuse;
}
a:hover {
  font-size: larger;
  color: #ffffff;
}
a:hover,
a:not(:hover) {
  transition-duration: 0.2s;
}

/* MEDIA-QUERIES */

@media (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 800px;
  }
}

@media (max-width: 700px) {
  main {
    margin: 20px;
  }
  footer {
    margin-top: 1300px;
    text-align: center;
  }
}
